<section data-ng-controller="ChatsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Chats</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="chat in chats" data-ng-href="#!/chats/{{chat._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="chat.created | date:'medium'"></span>
				by
				<span data-ng-bind="chat.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="chat.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!chats.$resolved || chats.length">
    	No Chats yet, why don't you <a href="/#!/chats/create">create one</a>?
    </div>
</section>