<section data-ng-controller="ChatsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Chats</h1>
    </div>
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                CHAT
            </div>
            <div class="panel-body" scroll-glue>
                <ul class="media-list">

                    <li class="media" data-ng-repeat="message in messages">

                        <div class="media-body">

                            <div class="media">
                                <div class="media-body">
                                    <small class="text-muted">{{message.username}} {{message.date}}</small><br>
                                    {{message.content}}
                                </div>
                            </div>

                        </div>
                    </li>
                </ul>
            </div>
            <div class="panel-footer">
                <div class="input-group">
                    <input type="text" placeholder="Enter Message" class="form-control" data-ng-model="message">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-info" ng-click="sendMessage(message)">SEND</button>
                                    </span>
                </div>
            </div>
        </div>
    </div>

</section>
